body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #444;
}

.oekaki-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: normal;
}

.oekaki-rows {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.oekaki-toolbar {
	align-self: stretch;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	padding: 5px;
	background-color: #222;
}

@media (max-width: 800px) {
	.oekaki-toolbar {
		overflow: hidden;
		max-width: 10px;
		transition: max-width 0.3s 0.1s;
	}

	.oekaki-toolbar > * {
		opacity: 0;
		transition: opacity 0.3s;
	}

	.oekaki-toolbar:hover {
		max-width: 100px;
		overflow: visible;
		transition: max-width 0.3s;
	}

	.oekaki-toolbar:hover > * {
		opacity: 1;
		transition: opacity 0.3s 0.2s;
	}

}

.oekaki-tool {
	cursor: pointer;
	padding: 5px 10px;
}

.oekaki-tool-active {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	background-color: #444;
	border-radius: 5px;
}

.oekaki-toolbar > div {
	width: 80px;
}

.oekaki-titlebar {
	align-self: stretch;
	flex-grow: 0;
	padding: 15px 10px;
	background-color: rgb(95, 65, 155);
	border-bottom: 1px solid black;
	font-size: 20px;
	text-align: center;
}

.oekaki-main {
	align-self: stretch;
	flex-grow: 2;
	display: flex;
}

.oekaki-page-container {
	align-self: stretch;
	flex-grow: 2;
	display: flex;
	overflow: auto;
}

.oekaki-page {
	align-self: center;
	margin: auto;
	position: absolute;
}

.oekaki-page > canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.oekaki-working-canvas {
	position: absolute;
	z-index: 2;
}

.oekaki-colors {
	position: relative;
	margin: 5px;
	margin-top: 15px;
	height: 80px;
}

.oekaki-color {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
	transform-style: preserve-3d;
}

.oekaki-color:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	content: "";
	transform: translateZ(-1px);
}

.oekaki-color-alt {
	top: 25px;
	left: 25px;
}

.oekaki-color-active {
	z-index: 2;
}

.oekaki-create-form {
	display: block;
	margin: auto;
	width: 400px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 20px;
	color: white;
	background-color: #666;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.oekaki-form label {
	display: block;
	margin-bottom: 15px;
}

.oekaki-form label input, .oekaki-form label textarea, .oekaki-form label select {
	display: block;
	margin-top: 3px;
	width: 100%;
	font-size: 15px;
	box-sizing: border-box;
}

.oekaki-create-form label.oekaki-create-input-width, .oekaki-create-form label.oekaki-create-input-height {
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
}

.oekaki-create-form label.oekaki-create-input-width {
	padding-right: 10px;
}

.oekaki-create-form label.oekaki-create-input-height {
	padding-left: 10px;
}

.oekaki-create-form button {
	display: block;
	width: 100%;
	margin-top: 10px;
	font-size: 30px;
	border-radius: 5px;
	color: white;
	background-color: #333;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.oekaki-transbg, .oekaki-color:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 8 8'%3E%3Cg fill='%23acacac' fill-opacity='0.3'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
	background-color: white;
}

.oekaki-page {
	border: 1px solid #000000;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
	position: relative;
}

.oekaki-button {
	border: 1px solid #aaa;
	border-left: 0;
	background-color: #fff;
	display: inline-block;
	padding: 5px;
	font-size: 14px;
	cursor: pointer;
	line-height: 16px;
}

.oekaki-button-command {
	float: right;
}

.oekaki-button:hover {
	background-color: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.oekaki-button-save {
	background-color: rgb(140, 78, 255);
	color: white;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.oekaki-button-save:hover {
	background-color: rgb(129, 52, 230);
	color: white;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.color-picker-modal {
	display: flex;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.color-picker-modal.color-picker-modal-closed {
	display: none;
}

.color-picker-modal.color-picker-modal-open {
	display: flex;
}

.color-picker {
	background-color: #333/* rgba(0, 0, 0, 0.5) */;
	border: 1px solid rgba(0, 0, 0, 1);
	/* position: absolute;
	top: 0;
	left: 0; */
	margin: auto;
}

.color-picker .color-canvas {
	float: left;
}

.color-picker .right-panel {
	float: right;
}

.color-picker .color-swatch {
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.color-picker .color-input {
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding: 0 3px;
	text-align: center;
	box-sizing: border-box;
}