body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.oekaki-container {
	position: relative;
	width: 100%;
	padding-top: 100px;
}

.oekaki-page {
	margin: 0 auto;
	border: 1px solid #bbb;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
	position: relative;
}

.oekaki-buttons {
	border: 1px solid #bbb;
	border-width: 1px 0;
	background-color: #eee;
	padding: 10px;
	margin-top: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.oekaki-buttons .oekaki-button {
	border: 1px solid #aaa;
	background-color: #ccc;
	border-radius: 3px;
	display: inline-block;
	padding: 5px;
	font-size: 14px;
}